In [25]:
import pandas as pd

In [26]:
df_train = pd.read_csv("train.csv")

In [89]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Purpose_Of_Loan', OneHotEncoder(), [5])], remainder = 'passthrough')

In [114]:
X=df_train.drop(['Interest_Rate','Loan_ID'],axis='columns')
X_train=X.to_numpy()
X_train2 = ct.fit_transform(X_train)
X_train2 = pd.DataFrame(X_train2[:,1:])
y_train2=df_train.Interest_Rate

In [115]:
model.fit(X_train2,y_train2)

LogisticRegression()

In [121]:
df_test=pd.read_csv("test.csv")
X_test=df_train.drop(['Interest_Rate','Loan_ID'],axis='columns').to_numpy()
X_test2 = ct.fit_transform(X_test)
X_test2 = pd.DataFrame(X_test2[:,1:])
X_test2

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18375.0,6.0,1.0,95000.0,2.0,21.45,3.0,17.0,28.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4000.0,3.0,4.0,-1.0,2.0,21.64,0.0,18.0,33.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15000.0,10.0,1.0,83000.0,2.0,22.90,3.0,11.0,44.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27500.0,10.0,0.0,100000.0,1.0,9.66,0.0,5.0,14.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9450.0,-1.0,5.0,28000.0,0.0,34.89,1.0,9.0,24.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131442,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5700.0,0.0,1.0,32000.0,0.0,31.16,1.0,7.0,8.0,1.0
131443,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7400.0,0.0,5.0,-1.0,0.0,8.85,0.0,6.0,14.0,1.0
131444,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19400.0,6.0,5.0,58000.0,2.0,30.33,1.0,9.0,51.0,0.0
131445,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21000.0,10.0,0.0,83000.0,2.0,21.69,1.0,11.0,21.0,1.0
131446,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4750.0,7.0,5.0,18000.0,2.0,16.20,1.0,6.0,11.0,1.0

In [123]:
y_predicted=pd.DataFrame(model.predict(X_test2),columns=['Interest_Rate'])
y_predicted

        Interest_Rate
0                 2.0
1                 2.0
2                 2.0
3                 3.0
4                 2.0
...               ...
131442            2.0
131443            3.0
131444            2.0
131445            3.0
131446            2.0

[131447 rows x 1 columns]

In [124]:
final=pd.concat([df_test,y_predicted],axis="columns")
final[['Loan_ID','Interest_Rate']].to_csv("Submission2.csv")

In [125]:
final[['Loan_ID','Interest_Rate']]

           Loan_ID  Interest_Rate
0       10048970.0            2.0
1       10075715.0            2.0
2       10090330.0            2.0
3       10139511.0            3.0
4       10153644.0            2.0
...            ...            ...
131442         NaN            2.0
131443         NaN            3.0
131444         NaN            2.0
131445         NaN            3.0
131446         NaN            2.0

[131447 rows x 2 columns]

In [128]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train2,y_train2, test_size=0.2)
model2 = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.45656143020159756